.menu {
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  width: 33px;
  height: 5px;
  border-radius: 4px;
  background: black;
  transform-origin: 30.8px;
  transition: transform .4s cubic-bezier(.23,-0.62,.75,1.56), opacity .2s ease-in-out;
}
.menu_open .bar:nth-child(1) {
  transform: rotate(-45deg);
}
.menu_open .bar:nth-child(2) {
  opacity: 0;
}
.menu_open .bar:nth-child(3) {
  transform: rotate(45deg);
}


.drop {
  border-left: 8px solid var(--color-main);
  position: absolute;
  top: -55vh;
  /* top: 0; */
  /* bottom: 0; */
  right: 0;
  padding: 1em;
  width: 50vw;
  /* height: 50vh; */
  background: black;
  color: white;
  border-radius: 8px;

  transition: transform .4s ease-in-out;
}
.dropdown {
  transform: translateY(127%);
}

.list {
  padding-left: 1.5em;
}

.item {
  list-style: none;
  font-weight: bold;
  font-size: 1.5em;
  padding: .75em 0;
  cursor: pointer;
  transition: .4s;
}
.item:hover {
  text-decoration: underline;
  color: var(--color-main);
}


/* Responsive */

@media screen and (min-width: 899px) {
  .list {
    display: flex;
    justify-content: space-between;
  }
  .item {
    font-size: 1em;
  }
  .list {
    padding: 0 .3em;
  }
  .dropdown {
    transform: translateY(455%);
}
}