.section {
  display: grid;
  grid-template-columns: 395px;
  margin: 2em auto;
  max-width: 365px;
}

.form {
  /* background: chocolate; */
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.label {
  margin-bottom: 2em;
}

.span {
  display: block;
}

.input {
  width: 90%;
  border: none;
  padding: .3em;
  /* border-radius: 6px; */
  border-bottom: 1px solid black;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.button {
  width: 100px;
  padding: .7em;
  border: none;
  background: black;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  margin-right: 1em;
  /* margin: 0 auto; */
}

.spinner {
  width: 30px;
  height: 30px;
  border: 4px solid white;
  border-left: 4px solid orange;
  border-radius: 50%;
  transform: rotate(160deg);
  animation: spinLoading .5s infinite ease-in-out;
}
@keyframes spinLoading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.feedbackContainer {
  background: rgba(255, 255, 255, .5);
  color: orange;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  animation: fade .2s;
}

.feedbackItem {
  width: 315px;
  background: black;
  /* padding: 0 2em; */
  border-radius: 1em;
  animation: fade .4s;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.message {
  font-size: 1em;
  line-height: 1.4em;
  margin: 1em 1.7em 1.5em;
}
.icon {
  margin: 1em 1.7em;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: white;
  display: grid;
  place-items: center;
}

.loading {
  background: orange;
  height: 8px;
  /* border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px; */
  border-radius: 1em;
  margin: .6em .8em;
  animation: bar 5s forwards;
}

@keyframes bar {
  from {
    width: 0;
  }
  to {
    width: calc(100% - 1.7em);
  }
}